* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root, html, body {
    height: 100vh;
    font-family: Lato, sans-serif;
}

.app {
    height: 100vh;
    background-image: url("./images/bg1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.card {
    position: relative;
    z-index: 1;
    background: whitesmoke;
    width: 100%;
    max-width: 580px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.heading {
    color: #1a1919;
    margin-bottom: 25px;
}

.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    min-height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
}

.button span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.button:hover {
    animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

.loadingText, .errorText {
    font-size: 20px;
    margin-bottom: 25px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@media only screen and (max-width: 700px) {
    .card {
        max-width: 80%;
        padding: 4%;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        max-width: 86%;
        padding: 4%;
    }

    .button {
        min-height: 55px;
        width: 170px;
    }

    .heading {
        font-size: 24px;
    }
}